@import url(base.css);

body {
        font-family: 'Trebuchet MS', sans-serif;
        background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%) no-repeat fixed;
    min-height: 100vh;
    }

    img {
        border-radius: 15px;
    }

    h1 {
        font-size: 250%;
        margin: 10px 5px;
    }

    article {
        background-color: #f7e4ef;
        border-radius: 20px;
        margin: 5vw;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    span {
        margin-right: 10px;
    }

    .genre {
        background-color: #f079be;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid #000;
    }